<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This instance of Splurty was built by <a target="_blank" href="http://github.com/nkj76">Niraj Jain.</a>
  </p>
  <p> 
    This is part of the UCB Extension Bootcamp Splurty project, and Niraj was very...er... liberal in copying the code/html/css described in the course to make these pages.
  </p>
  <p>
    He is still very much in learning mode regarding building web pages and web applications.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'niraj.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Niraj Jain</h2>
      <br />
      <p>
        Niraj is learning how to build web apps. His background includes working as an engineering manager for systems software products and as a Site Reliability manager.
      </p>
    </div>
  </div>
  <br class="clear">
  <div class="row">
    <div class="col-12 col-sm-4">
      <br />
      <br />
      <br />
      <br />
      <h1 class="text-center">Credits:</h1>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ken Mazaika and Marco Morawec</h2>
      <p>
        Ken and Marco are the actual developers of the Splurty application. Together they taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
